<fieldset>
  <legend>Registration</legend>
  <form name='regForm' novalidate> <!-- form -->

    <!-- When the myInfo clicks on the `Sign Up` button, they should be taken to a view that lets them "sign up" for
    the newsletter (that will never come :-) ) of the restaurant. The sign up form should ask for the following information:
    first name, last name, email address, and phone number.
    It should also ask the myInfo to specify the menu number that's their favorite dish.
    (The menu number is the `short_name` attribute of each menu item). -->

    <!-- First Name -->
    <input type="text" name="firstname" placeholder="First Name (required)"
      ng-model="signCtrl.myInfo.firstname"
      required
      minlength="3"
      size="30"
      >
      <!-- {{ reg.myInfo.firstname }} -->
      <span
        ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
        myInfoname must be at least 3 characters long
      </span>
      <!-- <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
        myInfoname must not be longer than 10 characters
      </span> -->
      <br>

      <!-- Last Name -->
      <input type="text" name="lastname" placeholder="Last Name (required)"
        ng-model="signCtrl.myInfo.lastname"
        required
        minlength="3"
        size="30"
        >
        <!-- {{ reg.myInfo.lastname }} -->
        <span
          ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
          myInfoname must be at least 3 characters long
        </span>
        <!-- <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
          myInfoname must not be longer than 10 characters
        </span> -->
        <br>

    <!-- required field -->
    <!-- if this input field is invalid AND the myInfo touched the textbox -->
    <input type="email" name="email" placeholder="Email (required)"
      ng-model="signCtrl.myInfo.email"
      required
      size="30"
      >
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <!-- required field -->
    <input type="favourite" name="favourite" placeholder="Favourite dish (enter number)"
    ng-model="signCtrl.myInfo.favourite"
    required
    size="30"
    >
    <span ng-if="regForm.favourite.$invalid && regForm.favourite.$touched">
      Cannot leave blank
    </span>
    <br>

    <!-- not a required field -->
    <!-- pattern based, 3 digits-3 digits-4 digits -->
    <!-- if we get an invalid error AND the myInfo touched the textbox -->
    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="signCtrl.myInfo.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})"
      size="30"
      >
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>

    <!-- disabled button if there is any invalidation in the form -->
    <!-- if enabled, call the submit method, set completed's flag to true -->
    <button
      class="submit"
      ng-disabled="regForm.$invalid"
      ng-click="signCtrl.submit()">Submit</button>

      <div style="margin-top: 10px;">
        Form valid? {{ regForm.$valid }}
      </div>
  </form>
</fieldset>

<!-- completed form -->
<div id="info" ng-if="signCtrl.completed == true">
  Name: {{ signCtrl.myInfo.firstname}} {{ signCtrl.myInfo.lastname}} <br>
  Email: {{ signCtrl.myInfo.email}} <br>
  Phone: {{ signCtrl.myInfo.phone }} <br>
  Favourite Dish: {{ signCtrl.myInfo.favourite }} <br>
  Your information has been saved!
</div>
<div id="info" ng-if="signCtrl.completed == false">
  No such menu number exists
</div>
