
<ol>
    <li ng-repeat="menu in foundItemsDirective.found"> <!-- loop through the categories -->
      <!-- note the empty a href -->
      <!-- list category short name on click -->
      <b>{{ menu.name }} ({{ menu.short_name }}):</b> {{ menu.description }} <button class="btn btn-primary" ng-click="foundItemsDirective.onRemove({indexArg: $index});">Don't want this one!</button> <!-- list category name -->
    </li>
  </li>
</ol>
    <div id="NothingError" class="error ng-binding">{{ menu.errorMessage }}</div>
