<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'> <!-- step 1 -->

  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="menu.slim(menu.searchTerm);">Narrow It Down For Me!</button>
    </div>
    <br />

    <!-- need to replace, but it works for now -->
    <ul>
      <li ng-repeat="category in menu.found"> <!-- loop through the categories -->
        <!-- note the empty a href -->
        <!-- list category short name on click -->
        <b>{{ category.name }} ({{ category.short_name }}):</b> {{ category.description }} <!-- list category name -->
      </li>
    </ul>
    <!-- need to replace, but it works for now -->

    <!-- found-items should be implemented as a component -->
    <found-items>
      <!-- directive stuff goes here -->
    </found-items>
    <div class="error ng-binding">{{ menu.errorMessage }}</div>
  </div>

</body>
</html>
